In [ ]:
# excel path "C:\Users\Sebastiaan\Downloads\owid-covid-data.csv"
# excel link https://covid.ourworldindata.org/data/owid-covid-data.xlsx

Research question: How have full vaccinations influenced the amount of ICU patients in the Netherlands compared to the USA?

Part 1: How have full vaccinations influenced the amound of ICU patients in the Netherlands?

Part 2: How does this compare to the other countries in de EU?

In [ ]:
import pandas as pd
covid_data = pd.read_excel ('https://covid.ourworldindata.org/data/owid-covid-data.xlsx')

In [ ]:
covid_data.head()

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...              NaN                                     NaN
1      AFG      Asia  ...              NaN                                     NaN
2      AFG      Asia  ...              NaN                                     NaN
3      AFG      Asia  ...              NaN                                     NaN
4      AFG      Asia  ...              NaN                                     NaN

[5 rows x 67 columns]

In [ ]:
#Relevante data: Netherlands (iso_code NLD ), USA (iso_code USA), people_fully_vaccinated, (icu_patients (kolom R),) weekly_icu_admission(kolom V )

In [ ]:
covid_data.loc[covid_data.Pclass == 1, ['Pclass', 'Survived', 'Age']]